.forecastTable {
  position: absolute;
  top: 8px;
  left: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  width: 150px;
  height: 83.5vh;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(3, 153, 253);
  box-sizing: border-box;
  .forecastElement {
    color: white;
    text-align: center;
    font-size: 17px;
  }
}
@media (max-width: 700px) {
  .forecastTable {
    position: static;
    width: 80%;
  }
}
@media (max-width: 400px) {
  .forecastTable {
    width: 100%;
  }
}
