.currentContainer{
    .currentDay{
        width: 100%;
        height: 80vh;
       background-color: rgb(200, 221, 255);
    }
    .currentNight{
        width: 100%;
        height: 80vh;
        background-color: rgb(185, 185, 214);
    }
}