.currentContainer{
    .currentDay{
        width: 100%;
        height: 80vh;
       background-color: rgb(132, 176, 247);
       opacity: 0.8;
    }
    .currentNight{
        width: 100%;
        height: 80vh;
        background-color: rgb(69, 69, 174);
        opacity: 0.8;
        color: white;
    }
}